@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --cor-um:#2F4858;
    --cor-dois:#119DA4;
    --cor-tres:#FFFFFF;
    --cor-quatro:#C2BBF0;
    --cor-cinco:#C84630;
    --cor-seis:#1b3444;
}
 
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-um);
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}
.relogio{
    width: 100%;
    max-width:300px;
    height:auto;
    border-radius: 50%;
    position: relative;
    background-color: var(--cor-tres);
    box-shadow:10px 10px 10px rgba(0,0,0,.3);
    border: double 4px transparent;
    background-image: linear-gradient(var(--cor-tres), var(--cor-tres)), radial-gradient(circle at top left, #119DA4,#C84630);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.relogio img{
    position: absolute;
    left:0;
    top:0;
}
.relogio::before{
    height: 0;
    content:"";
    height:0;
    float:left;
    padding-bottom: 100%;
}
.relogio::after {
    content:"";
    display:block;
    clear:both;
}
.ponteiro-horas{
    width:12px;
    height: 30%;
    top:calc(50% - 30% + 10px);
    transform-origin: center calc(100% - 10px);
    left:calc(50% - 6px);
    background-color: var(--cor-um);
    position: absolute;
    border-radius: 6px 6px 4px 4px;
}
.ponteiro-minutos{
    width:10px;
    height: 40%;
    top:calc(50% - 40% + 10px);
    transform-origin: center calc(100% - 10px);
    left:calc(50% - 5px);
    background-color: var(--cor-um);
    position: absolute;
    border-radius: 5px 5px 3px 3px;
}
.ponteiro-segundos{
    width:4px;
    height: 50%;
    top:calc(50% - 50% + 20px);
    transform-origin: center calc(100% - 20px);
    left:calc(50% - 2px);
    background-color: var(--cor-cinco);
    position: absolute;
    border-radius:2px;
}
.pontinho{
    width:4px;
    height: 4px;
    position: absolute;
    top:calc(50% - 4px);
    left:calc(50% - 4px);
    background-color:var(--cor-um);
    border-radius: 50%;
    border:2px solid var(--cor-cinco)
}
.footer{
    width:100%;
    position: fixed;
    text-align: center;
    padding-bottom: 20px;
    color: var(--cor-tres);
    font-weight: 300;
    bottom: 0;
    left:0;
}
.footer a{
    color: var(--cor-tres);
}